* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw
}

.parent {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #181818;
    
}

.child {
    height: 350px;
    width: 350px;
    background: yellow;
}